{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="container">
        {{!-- <div class="head">
            <span class="time">
                9:41
            </span>
            <img src="/png/Group.png" alt="group" class="img">
        </div>
        <div class="nav">
            <img src="/svg/arrow-back.svg" alt="arrow">
            <img src="/png/img.png" alt="avatar">
        </div>
        <h1 class="title">Мій блог</h1> --}}
        {{!-- <div class="content">
            <div class="message message__bgcolor">
                <div class="head-mess">
                    <div>
                        <button class="button button__1">Важливо</button>
                        <button class="button button__2">Нова</button>
                    </div>
                    <span class="date">25.01</span>
                </div>
                <p class="text-mess">
                    До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
                </p>
            </div>
            <div class="message">
                <div class="head-mess">
                    <div>
                        <button class="button button__1">Важливо</button>
                        <button class="button button__2">Нова</button>
                    </div>
                    <span class="date">15.01</span>
                </div>
                <p class="text-mess">
                    Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.
                </p>
            </div>
            <div class="message message__bgcolor">
                <div class="head-mess">
                    <div>
                        <button class="button button__1">Важливо</button>
                        <button class="button button__2">Нова</button>
                    </div>
                    <span class="date">25.01</span>
                </div>
                <p class="text-mess">
                    До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
                </p>
            </div>
        </div> --}}
        {{!-- <div class="footer">
            <div class="line"></div>
        </div> --}}
    </div>
    <div class="container container2">
        {{!-- <div class="head">
            <span class="time">
                9:41
            </span>
            <img src="/png/Group.png" alt="group" class="img">
        </div>
        <div class="nav">
            <img src="/svg/arrow-back.svg" alt="arrow">
            <img src="/png/img.png" alt="avatar">
        </div>
        <div class="menu">
            <div class="menu__fm">
                База занань
            </div>
            <div class="menu__sm">
                Інформація
            </div>
        </div>
        <div>
            <img src="/png/logo.png" alt="logo">
        </div>
        <h1 class="h-comunity">Що таке база знань?</h1>
        <div class="t-comunity">
            База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой
            предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом
            решения предыдущих задач.
        </div>
        <button class="b-comunity">Перейти до ком'юніті у Телеграм</button>
        {{!-- <div class="footer">
            <div class="line"></div>
        </div> --}}

    </div>
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}